.ClothesItem .buyButton {
  background-color: orange;
}

.ClothesItem .buyButton.bought {
  background-color: green;
}

.categoryTypeFlex {
  display: flex;
  gap: 50px;
  /* background-color: rgb(199, 185, 185); */
}

.img {
  height: 200px;
  width: 180px;
}

.type {
  /* background: rgb(202, 190, 190); */
  font-weight: bold;
  color: rgb(179, 83, 83);
}

.itemFlex {
  margin-top: 100px;
  display: flex;
  gap: 80px;
}
